# Build directory
/build/*

# Build directory whitelist
# These are files that live in the buid directory that you
# wish to keep in version control.
!/build/CNAME
!/build/robots.txt

# Vendor directories
node_modules

# Logs
logs
*.log
npm-debug.log*
